@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default (light mode) configuration */
:root {
  --foreground-rgb: 0, 0, 0; /* Black text for contrast on white background */
  --background-rgb: 255, 255, 255; /* Solid white background */
}

/* Dark mode configuration */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* White text for contrast on dark background */
    --background-rgb: 30, 30, 30; /* Dark background */
  }
}

body {
  color: rgb(var(--foreground-rgb)); /* Set text color based on the scheme */
  background-color: rgb(var(--background-rgb)); /* Solid background, white for light mode */
}

@layer utilities {
  /* Custom utility classes */
  .text-balance {
    text-wrap: balance;
  }
}
